.videoclass {
  position: relative;
}

.videoclass video {
  width: 100%;
  height: auto;
  /*position: absolute;*/
  top: 0;
  left: 0;
}

.buttonclass {
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 1;
}

.buttonclass li {
  display: inline-block;
  margin-right: 10px;
}

.buttonclass li {
    color: white;
}

.buttonclass li {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 1.3rem 3.2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #00808c;
  color: white;
}
