
.shoptwo{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 40px;
    padding: 0 32px;
}

.shoptwo h2{
    font-size: 3.2rem;
    margin: 1.6rem 0;
    font-family: "miller-display";
    text-align: center;
}

.shoptwo p{
    margin: 0;
}

.shoptwo .button-container .button{
    font: var(--type-body-1-strong-font);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 1.3rem 3.2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    border-radius: inherit;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--color-brand-300);
}
.shoptwo .button-container{
    text-align: center;
}

.shoptwo > div{
    text-align: center;
}

.shoptwo .button-container .button:hover{
    background-color: var(--color-brand-600);
}

.shoptwo picture img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}
