
.sactional{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
    
  }
  .sactional-container{
    background-color: var(--background-color);
    padding: 0 30px;
  }

.sactional-container h2{
    color: #56585a;
    font-style: normal;
    word-wrap: break-word;
    font-family: "miller-display";
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.44px;
    word-break: break-word;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    text-align: center;
  }

  .sactional .button-container p a{
    text-decoration: underline;
    color: var(--color-brand-300);
    background: none;
    overflow: visible;
    margin: 0;
  }

  .sactional .button-container p a:hover{
    color: var(--color-brand-600);
  }

  .sactional .button-container p{
    margin: 0;
    text-align: center;
  }

@media only screen and (max-width: 600px) {
    .sactional {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .sactional-section {
        width: calc(50% - 20px);
  }
}
 
