
footer {
  background-color: #56585a;
}

.contact-info-container {
  padding: 5.6rem 0;
}

.contact-info {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 32px;
  color: #ffffff;
}

.logo-section p a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.contact-info-section {
  flex: 1 1 20%;
}

.contact-info-section p {
    font-size: 1.4rem
    line-height: 2.8rem;
}

.contact-info-section p a:hover {
    text-decoration: underline;
}

.phone-info,
.email-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.phone-info p:first-child,
.email-info p:first-child {
    font-size-s: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.footer-info {
  font-size: 1rem;
  line-height: 2.8rem;
  text-align: center;
  color: #ffffff;
}
.footer {
    padding-bottom: 2rem;
}
footer .footer > div {
  margin: auto;
  max-width: 1200px;
}

footer .footer p {
  margin: 0;
}
