
footer {
  background-color: #56585a;
}

.contact-info-container {
  padding: 5.6rem 0;
}

.contact-info {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 32px;
  color: #ffffff;
}

.contact-info-section {
  flex: 1 1 20%;
}

.phone-info,
.email-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.footer-info {
  font-size: 1rem;
  line-height: 2.8rem;
  text-align: center;
  color: #ffffff;
}
.footer {
    padding-bottom: 2rem;
}
footer .footer > div {
  margin: auto;
  max-width: 1200px;
}

footer .footer p {
  margin: 0;
}
