/* stylelint-disable selector-class-pattern */
.product-list-page {
    min-height: 700px;
}

.product-list-page .ds-sdk-product-item__image img {
    aspect-ratio: 185 / 230;
    object-fit: contain;
}

@media (width >= 750px) {
    .product-list-page {
        min-height: auto;
    }
}


main .product-list-page-container{
    margin: 0 2%;
}

main .catproduct-container{
    margin: 0 2%;
}

.ds-sdk-product-item__product-name{
    font-size: 1.8rem;
    padding-top: 2rem;
}

.ds-sdk-add-to-cart-button{
    margin: 0 20%;
}

.ds-sdk-add-to-cart-button button{
    height: 40px;
}
.ds-widgets .max-w-\[200px\] {
    display: contents;
}

.ds-widgets .gap-x-2xl{
    column-gap: 2rem;
}

.ds-widgets_results .ds-sdk-product-list > div{
    column-gap: 2rem;
}

.ds-widgets_results .ds-sdk-product-list > div > div{
    max-width: 30rem;
}
