.card-section {
    display: flex;
    gap: 1.6rem;
    max-width: 1250px;
    margin: 0 auto;
}

.card-section .card-block-blue {
    background-color: #595e60;
    background-size: 205% 205%;
    background-position: bottom;
    background-image: url(https://www.lovesac.com/media_19eaccd….webp?width=750&format=webp&optimize=medium);
}

.card-block {
    width: 50%;
    text-align: center;
    background-color: #707375;
    padding: 2rem 2.6em;
    color: white;
}

.card-section h4 {
    font-family: museo-sans, museo-sans-fallback;
    margin-bottom: 0.5em;
    letter-spacing: -0.02em;
    margin-top: 0;
    font-size: 3.2rem;
    word-break: break-word;
    font-weight: 400;
}

.card-section h3 {
    margin-bottom: 0.5em;
    font-family: miller-display;
    letter-spacing: -0.02em;
    margin-top: 0;
    font-size: 3.2rem;
    word-break: break-word;
    font-weight: 400;
}

.card-section .button-container {
    margin-bottom: 0;
}

.card-section p {
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    /* font-family: museo-sans, museo-sans-fallback; */
}

.card-section .button-container a.button {
    color: var(--color-brand-300);
    font: var(--type-body-1-strong-font);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 1.3rem 3.2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 0;
    margin: 0;
}

.card-section .button-container a.button:hover {
    border: 1px solid #00808c;   
}
